<div class="post-header">
    <div class="user-content">
        <div class="user-photo"><img src="../../assets/perfil/ivan.jfif" alt=""></div>
        <div class="user-info">
            <h3 class="user-name">Ivan Pereira</h3>
            <span class="user-id"><i class='bx bx-at'></i>ivandaamericanas</span>
            <span class="date-loc">
                <span class="date">2Hrs</span>
                <span class="loc">SP</span>
            </span>
        </div>
        <div class="btn-follow">
            <button>
                Seguir
            </button>
        </div>
    </div>
    <div class="config">
        <div class="save"><i class='bx bx-bookmark'></i></div>
        <div class="config-button"><i class='bx bx-dots-horizontal-rounded'></i></div>
    </div>
</div>